$color-bg: #030303;
$color-text: #E0E0E0;
$color-text-secondary: #a0aec0;
$color-lt-blue: #06e2f0;
$color-red: #cf0e48;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-item: #11112A;
$color-fiolet: #8A2BE2;
$color-dark-fiolet: #4A00E0;
$color-gray: #64748b;
$color-border-dark: #101317;
$color-border: #2d3748;

$font-size-base: 16px;